<div class="container">
	<span style="background-color:#dcdcdc; margin-left:80px; font-size:25px;">マイページ</span><br><br>

	<b style="font-size: 20px;">登録情報</b>
	<%= link_to '編集する'%>
	<%= link_to 'パスワードを変更する'%>
</div>